<table>
  <tr>
      <td><img src="../../assets/images/Botones_Redondos/{{piezaArray[0]}}.png" alt=""></td>
      <td><img src="../../assets/images/Botones_Redondos/{{piezaArray[1]}}.png" alt=""></td>
      <td><img src="../../assets/images/Botones_Redondos/{{piezaArray[2]}}.png" alt=""></td>
  </tr>
  <tr>
      <td><img src="../../assets/images/Botones_Redondos/{{piezaArray[3]}}.png" alt=""></td>
      <td><img src="../../assets/images/Botones_Redondos/{{piezaArray[4]}}.png" alt=""></td>
      <td><img src="../../assets/images/Botones_Redondos/{{piezaArray[5]}}.png" alt=""></td>
<!--       
      <td *ngIf="pieza0=true" ><img src="../../assets/images/Botones_Redondos/{{}}.png" alt=""></td>

      <td *ngIf="pieza1=false" ><img src="../../assets/images/Botones_Redondos/0.png" alt=""></td>
      <td *ngIf="pieza1=true" ><img src="../../assets/images/Botones_Redondos/2.png" alt=""></td>

      <td *ngIf="pieza2=false" ><img src="../../assets/images/Botones_Redondos/0.png" alt=""></td>
      <td *ngIf="pieza2=true" ><img src="../../assets/images/Botones_Redondos/3.png" alt=""></td>
 
  </tr>
  <tr>
    <td *ngIf="pieza3=false" ><img src="../../assets/images/Botones_Redondos/0.png" alt=""></td>
    <td *ngIf="pieza3=true" ><img src="../../assets/images/Botones_Redondos/4.png" alt=""></td>
    <td *ngIf="pieza4=false" ><img src="../../assets/images/Botones_Redondos/0.png" alt=""></td>
    <td *ngIf="pieza4=true" ><img src="../../assets/images/Botones_Redondos/5.png" alt=""></td>
    <td *ngIf="pieza5=false" ><img src="../../assets/images/Botones_Redondos/0.png" alt=""></td>
    <td *ngIf="pieza5=true" ><img src="../../assets/images/Botones_Redondos/6.png" alt=""></td> -->
  </tr>
</table>
