<table>
  <tr>
      <td><img (click)="changeColor()" id="piece1"  src="../../assets/images/Botones_Redondos/{{ index }}.png" alt=""></td>
      <td><img (click)="changeColor()" id="piece2"  src="../../assets/images/Botones_Redondos/{{ index }}.png" alt=""></td>
      <td><img (click)="changeColor()" id="piece3"  src="../../assets/images/Botones_Redondos/{{ index }}.png" alt=""></td>
  </tr>
  <tr>
      <td><img (click)="changeColor()" id="piece4" src="../../assets/images/Botones_Redondos/{{ index }}.png" alt=""></td>
      <td><img (click)="changeColor()" id="piece5" src="../../assets/images/Botones_Redondos/{{ index }}.png" alt=""></td>
      <td><img (click)="changeColor()" id="piece6" src="../../assets/images/Botones_Redondos/{{ index }}.png" alt=""></td>
  </tr>
</table>
